@CHARSET "UTF-8";

body
{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size:20px;
}

#member th, td
{
	background-color:#99FF66;
	width:160px;
	border:2px #000 solid;
	
}


/* 合計 */
.sum
{
	background-color:#FFFF00;
	font-weight:bold;
	width:100px;
	text-align:center;
	border:2px #000 solid;
}

/* 戦闘力 */
.sento
{
	background-color:#FF00FF;
	font-weight:bold;
	width:150px;
	text-align:center;
	border:2px #000 solid;
}

/* 戦闘力クラス*/
.sentoclass
{
	background-color:#00FFFF;
	font-weight:bold;
	width:150px;
	text-align:center;
	border:2px #000 solid;
}