@CHARSET "UTF-8";

body
{
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-size:20px;
}

#member
{
	border-collapse:collapse;
	border-style:solid;
	border-width:2px;
}

#member th
{
	background-color:;
	width:230px;
	border:#000000;
	border-style:solid;
	border-width:2px;

	
}

#member td
{
	background-color:;
	border:#000000;
	border-style:solid;
	border-width:2px;
}


/* 合計 */
.sum
{
	background-color:#FFFF00;
	font-weight:bold;
	width:100px;
	text-align:center;
	border:2px #000 solid;
}

/* 戦闘力 */
.sento
{
	background-color:#F00;
	font-weight:bold;
	width:100px;
	text-align:center;
	
	border:#000000;
	border-style:solid;
	border-width:2px;
}

/* 戦闘力クラス*/
.sentoclass
{
	background-color:#F00;
	font-weight:bold;
	width:100px;
	text-align:center;
	border:#000000;
	border-style:solid;
	border-width:2px;
}


#topleft
{
	width: 600px;
	float: left;
}
#topright
{
	width: 400px;
	float: left;
}
#team th
{
	background-color:#FF8888;
	width:100px;
}
#teamYosokuWrap
{
	padding-left:20px;

#teamYosoku th
{
	background-color:#FF8888;
	width:150px;
}